<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rxLog" type="RxLog.RxLogConfigurationSection, RxLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>

  <rxLog>
    <default>
      <add name="error" source="StandardErrorWriter" arg="U, all" />
      <add name="file" source="FileLogWriter" arg="%temp%\RxLogs\{0:yyyy-MM-dd}.log - '[yyyy-MM-dd hh:mm:ss]'" />
    </default>
    <subjects>
      <add name="file">
        <add name="file" source="FileLogWriter" arg="RxLogs\{0:yyyy-MM-dd}.log all" />
      </add>
      <add name="debug">
        <add name="debug" source="DebugWriter" arg="[yyyy-MM-dd hh:mm:ss]" />
      </add>
      <add name="trace">
        <add name="trace" source="TraceWriter" />
      </add>
    </subjects>
  </rxLog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TextWriters" publicKeyToken="7af88464decbdfc7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.8.3.0" newVersion="0.8.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
