<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILTricks" version="0.4.1" targetFramework="net40-client" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net40-client" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net40-client" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net40-client" />
  <package id="RxLog" version="0.7.1.0" targetFramework="net40-client" />
  <package id="TextWriters" version="0.8.3.1" targetFramework="net40-client" />
</packages>